@use 'config' as *;

// grids
@media screen and (max-width:1200px) {
   .section {
      grid-template-columns: repeat(4, 1fr);
   }
}

@media screen and (max-width:950px) {
   .popup-card {
      gap: 5px;
   }
}

@media screen and (max-width:900px) {
   .section {
      grid-template-columns: repeat(3, 1fr);
   }
}

@media screen and (max-width:785px) {
   body {
      padding: 20px 3%;
   }

   .section {
      gap: 15px;
      grid-template-columns: repeat(3, 1fr);
   }
   
   .popup-card {
      display: block;
      width: 55%;

      .imageDiv {
         height: 300px;
      }

      aside > img {
         height: 25px;
      }
   }
}

@media screen and (max-width:600px) {
   body {
      padding: 20px 5%;

   }

   #all .section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;

      .item-card {
         margin-right: 0;
         overflow: hidden;

         .imageDiv {
            height: 200px;
         }
         
         .textDiv {
            width: 100%;
         }
      }
   }
   
   .section {
      display: flex;
      overflow: auto;
      gap: 0;
   }
   
   .item-card {
      overflow: visible;
      border: 0;
      margin-right: 15px;

      .imageDiv {
         border: 1px solid $black;
         border-bottom: 0;
         border-radius: 5px 5px 0 0;
      }
      .textDiv {
         width: 250px;
         border: 1px solid $black;
         border-radius: 0 0 5px 5px;
      }

      
      &:hover {
         .imageDiv {
            filter: brightness(75%);
            transform: scale(1);
         }
      }
   }

   .item-card:last-child {
      margin-right: 0;
   }

   
   .popup-card {
      display: block;
      width: 70%;
   }
}

@media screen and (max-width:500px) {
   body {
      .links {
         padding: 10px 10px;
         overflow: auto;
         
         a {
            font-size: 1rem;
         }
      }
   }
}

@media screen and (max-width:400px) {
   .popup-card {
      width: 90%;

      .imageDiv {
         height: 200px;
      }

      .textDiv {
         padding: 10px 15px;

         .desc {
            margin: 10px 0 15px 0;
         }
      }
   }
}